/* General styles for NewsListClient */
.main {
  max-width: 600px;
  margin: 100px auto 20px; /* Added 80px to the top margin */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.main:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.newsItem {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.newsItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #444;
  font-weight: bold;
}

.p {
  font-size: 16px;
  color: #606770;
  margin: 0 0 10px;
  line-height: 1.5;
}

.newsListClient {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  margin-right: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnDelete {
  background-color: #dc3545;
}

.btnDelete:hover {
  background-color: #c82333;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure this is higher than other elements */
}

.modalContent {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  z-index: 1001; /* Ensure this is higher than other elements */
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent label {
  display: block;
  margin-bottom: 10px;
}

.modalContent input,
.modalContent textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent .btn {
  margin-right: 10px;
}

/* Error message styles */
.errorMessage {
  color: #dc3545;
  font-weight: bold;
  margin-bottom: 10px;
}